/*Reset de CSS(Resetar todas propriedades aplicadas pelo navagador por predefinicao*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-color: white;
  --bg-url: url('./assets/bg-mobile.jpg');
  --stroke-color: rgba(255,255,255,0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url('./assets/moon-stars.svg');
}
.light{
  --text-color: black;
  --bg-url: url('./assets/bg-mobile-light.jpg');
  --stroke-color: rgba(0,0,0,0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0,0,0,0.02);
  --highlight-color:rgba(0,0,0, 0.1);
  --switch-bg-url: url('./assets/sun.svg');
}
body{
  /*Definindo o fundo da pagina*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  /* O '*' e um selector universal, que aplica uma propriedade a todos elementos filhos*/ 
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}
/*Caixa principal*/
#container{
  width: 100%;
  max-width: 360px;
  margin: 56px auto 0px;
}
/*Perfil*/
#profile{
  text-align: center;
  padding: 24px;
}
#profile img{
  width: 112px;
}
#profile p{
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/*Switch*/
#switch{
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button{
  width: 32px;
  height: 32px;
  border: 0;
  background: white var(--switch-bg-url) no-repeat center;
  border-radius: 50%;
  position: absolute;
  /*Alinhando elemento no eixo Y usando o position*/
  top:50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: slide-back 0.2s;
}
.light #switch button{
  animation: slide-in 0.2s forwards;
}
#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
}
/*Links*/
#links ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  padding: 24px;
}
#links ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--surface-color);
  padding: 16px 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  transition: background 2s;
}

/* pseudo-elemento "hover" ( Quando passar o mouse por cima do elemento )*/
#links ul li a:hover{
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*Social links*/
#social-links{
  display: flex;
  justify-content: center;
  font-size: 28px;
  padding: 24px 0;
}
#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}
#social-links a:hover{
  background-color: var(--highlight-color);
}
/*Footer ou rodape*/
footer{
  padding: 24px;
  text-align: center;
  font-size: 14px;
}
/* Media Queries */
@media (min-width: 700px){
  :root {
    --bg-url: url('./assets/bg-desktop.jpg');
  }

  .light{
    --bg-url: url('./assets/bg-desktop-light.jpg');
  }
}
/* Animacoes */
@keyframes slide-in{
  from{
    left: 0;
  }
  to{
    left: 50%;
  }
}
@keyframes slide-back{
  from{
    left: 50%
  }
  to{
    left: 0;
  }
}